/vendor
/node_modules
Homestead.yaml
Homestead.json
/bootstrap/compiled.php
.env
*.swo
*.swp
*.swn
*.DS_Store
.project
.buildpath
.settings
org.eclipse.php.core.prefs
org.eclipse.core.resources.prefs
vendor/composer/autoload_classmap.php
vendor/composer
config/database.php
.metadata/
RemoteSystemsTempFiles/
/nbproject/private/
public/upload
.idea/
